<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Rucomasy 0.0.1</title>
	<meta http-equiv="Content-Type" content="text/html; charset=windows-1251" />
	<link href="/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<div id="header">
		<h1>Rucomasy 0.0.1</h1>
		<h2>Ruby Contest Management System</h2>
		<ul id="navigation">
			<li><a href="/contests">Contests</a></li>
			<li><a href="/user/register">Register</a></li>
		</ul>
	</div>
	<%= yield %>
</body>
</html>
