<%= erb :sidebar, locals: {contest: @task.contest} %>

<div id="content">
    <h1>Task: <%= title %></h1>
    <div class="content_box">
        <h3> Statement </h3>
        <%= @task.statement %> <br/>
    </div>
    <div class="content_box">
        <h3> Submit solution </h3>
        <form method="post" enctype="multipart/form-data">
            <label for="username">Username: </label>
            <input type="text" name="username" id="username" />
            <label for="password">Password: </label>
            <input type="password" name="password" id="password" />
            <label for="lanugage">Language: </label>
            <select name="language" id="language">
                <option value="cpp" selected="true">C++</option>
                <option value="java" disabled="disabled">Java</option>
                <option value="ruby" disabled="disabled">Ruby</option>
            </select>
            <input type="file" name="file" />
            <input type="submit" value="Submit" id="submit" />
        </form>
    </div>
</div>
