<div id="content">
    <h1>User registration</h1>
    <div class="content_box">
        <form method="post">
            <label for="username">Username: </label>
            <input type="text" name="username" id="username" />
            <label for="password">Password: </label>
            <input type="password" name="password" id="password" />
            <input type="submit" value="Register" id="submit" />
        </form>
    </div>
</div>