<div id="content">
    <div class="topic"> User registration </div>
    <div class="text">
        <div class="contentbox">
            <form method="post">
                <table>
                    <tr>
                        <td> Username: </td>
                        <td align="right"> <input type="text" name="username"> </td>
                    </tr>
                    <tr>
                        <td> Password: </td>
                        <td align="right"> <input type="password" name="password"> </td>
                    </tr>
                    <tr>
                        <td colspan="2" align="right"> <input type="submit" value="Register"> </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>